<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-foreground-mode"
        version="1.0.0">

    <name>ForegroundMode</name>

    <description>Prevent apps from going to sleep in background.</description>

    <repo>https://github.com/dreamboyfire/cordova-plugin-background-mode.git</repo>

    <keywords>webapp foreground</keywords>

    <license>Apache 2.0</license>

    <author>dreamboyfire</author>

    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
        <engine name="android-sdk" version=">=16" />
    </engines>

    <!-- js -->
    <js-module src="www/background-mode.js" name="BackgroundMode">
        <clobbers target="cordova.plugins.foregroundMode" />
        <clobbers target="plugin.foregroundMode" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundMode" >
                <param name="android-package"
                      value="com.dreamboyfire.plugin.foreground.BackgroundMode"/>
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true" />
            <preference name="AndroidLaunchMode" value="singleInstance"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.dreamboyfire.plugin.foreground.ForegroundService" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <framework src="com.android.support:appcompat-v7:24.1.1+" />

        <source-file
            src="src/android/BackgroundMode.java"
            target-dir="src/com/dreamboyfire/plugin/foreground" />

        <source-file
            src="src/android/BackgroundExt.java"
            target-dir="src/com/dreamboyfire/plugin/foreground" />

        <source-file
            src="src/android/ForegroundService.java"
            target-dir="src/com/dreamboyfire/plugin/foreground" />
    </platform>

</plugin>
